<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-darker">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col usa-dark-background">
          <p class="margin-bottom-0 text-white"> This site <i>was</i> maintained by 18F. Their source code for this and all of the sites they worked on are available under the public domain/CC0 license on <a href="https://github.com/18F">GitHub</a>.</p>
          <p class="margin-top-05 text-white"> Have questions or want to contact 18F? Too bad, they're gone. Send any comments to @elonmusk on X(itter).</p>
        </div>
      </div>
    </div>
  </div>
</footer>

