{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">The 18F Legacy</h1>
      <p>18F was shut down by the GSA in the wee hours of March 1, 2025, under the "advisement" of Elon Musk's DOGE. This was a great loss to the people of the United States. We preserve these guides in the hope that they will continue to serve the people.</p>
    </div>
  </div>
</section>
